div > h5 {
  color: #6B778C;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}

.textarea > div > div {
  width: 100%;
}

.content {
  padding: 20px;
}

.cols {
  display: flex;
}

.col1, .col2, .col3 {
  margin:10px;
}

.col1, .col3 {
  width: 25%;
}

.col2 {
  width: 45%;
}

.col3 {
  width: 30%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 960px) {
  .cols {
    flex-wrap: wrap
  }
  .col2 {
    width: calc(75% - 40px);
  }
  .col3 {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .cols {
    flex-wrap: wrap
  }
  .col1, .col2, .col3 {
    width: 100%;
  }
}